.changelog-table, .changelog-legend {
    width: 100%;
}

.changelog-legend .tdl, .changelog-table .tdl {
    border-radius: 5px;
    background-color: #298672;
    color: white;
    font-size: .7rem;
    padding: 3px;
    font-weight: bold;    
}

.changelog-legend .ui, .changelog-table .ui {
    border-radius: 5px;
    background-color: #2767d9;
    color: white;
    font-size: .7rem;
    padding: 3px;
    font-weight: bold;    
}

.changelog-legend .other, .changelog-table .other {
    border-radius: 5px;
    background-color: #393939;
    color: white;
    font-size: .7rem;
    padding: 3px;
    font-weight: bold;    
}

.changelog-legend td:first-of-type {
    text-align: center;
    white-space: nowrap;
    width: 1px;
}

.changelog-table td:first-of-type, .changelog-table td:nth-of-type(2) {
    text-align: center;
    white-space: nowrap;
    width: 1px;
}
.highlight {
    position: relative;
}